<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Метатеги для PWA -->
	<link rel="manifest" href="/wpa/manifest.json">
	<meta name="theme-color" content="#000000">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Метатеги для Iphone -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


    {% block title %}
    <title>Поиск Аниме</title>
    {% endblock %}
    <link rel="icon" href="#href" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% block css %}{% endblock %}
</head>
<body class="cbody">
    {% block content %}{% endblock %}
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/wpa/service-worker.js')
                    .then(function (reg) {
                        console.log('Service worker зарегистрирован:', reg.scope);
                    }).catch(function (err) {
                        console.log('Ошибка регистрации:', err);
                    });
            });
        }
    </script>
</body>
</html>